    <!-- People Section -->
    <section id="people" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>PEOPLE</h2>
            </div>
        </div>
    </section>

    <!-- Professor Section -->
    <section id="professor" class="container content-section">
        <div class="row">
            <!-- Left Image1 -->
            <div class="col-md-5" text-center>
                <img src="{{ site.baseurl }}/img/profile2.jpg" 
                    alt="profile" 
                    class="about-img img-responsive">
            </div>
            <!-- Right Text -->
            <div class="col-md-7">
                <h3>Dasol Kim</h3>
                <p><small>Assistant Professor</small></p>
                <p><small>Department of Environmental Engineering, Seoul National University of Science and Technology</small></p>
                <p><small>Office: Room 313, Chungun-Hall</small></p>
                <p><small>Lab: Room 138, Chungun-Hall</small></p>
                <p><small>Tel: +82-2-970-6616</small></p>
                <p><small>E-mail: dasol.kim@seoultech.ac.kr</small></p>
                <p><small><a href="{{ site.baseurl }}/img/CV_Kim.pdf" target="_blank">Download CV</a></small></p>
            </div>
        </div>
    </section>

    <!-- Student Section -->
    <section id="student" class="container content-section">
        <div class="row people-grid">
        <!-- Person 1 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/man.jpg" alt="Person 1" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Suyeon Jo</h3>
                    <p class="person-course"><small>Ph.D. Student</small></p>
                    <p class="person-field"><small>Climate and Water Quality</small></p>
                    <p class="person-contact">
                        <small><a href="mailto:dodo12@seoultech.ac.kr">dodo12@seoultech.ac.kr</a><br></small>
                    </p>
                </div>
            </div>
        <!-- Person 2 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/Suyeon_Lee.jpg" alt="Person 2" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Suyeon Lee</h3>
                    <p class="person-course"><small>Ph.D. Student</small></p>
                    <p class="person-field"><small>Climate Intervention Technology</small></p>
                    <p class="person-contact">
                        <small><a href="mailto:sylee@seoultech.ac.kr">sylee@seoultech.ac.kr</a><br></small>
                    </p>
                </div>
            </div>
        <!-- Person 3 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/man.jpg" alt="Person 3" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Yeelin Hong</h3>
                    <p class="person-course"><small>MS. Student</small></p>
                    <p class="person-field"><small>  </small></p>
                    <p class="person-contact">
                        <small><a href="mailto:yeelinhong@gmail.com">yeelinhong@gmail.com</a><br></small>
                    </p>
                </div>
            </div>
        </div>

            <div class="row people-grid">
        <!-- Person 4 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/man.jpg" alt="Person 4" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Jaeseo Park</h3>
                    <p class="person-course"><small>Undergraduate Research Intern</small></p>
                    <p class="person-field"><small>  </small></p>
                    <p class="person-contact">
                        <small><a href="mailto:piaocaishu3@naver.com">piaocaishu3@naver.com</a><br></small>
                    </p>
                </div>
            </div>
        <!-- Person 2 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/Yoojae_Joo.jpg" alt="Person 2" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Yoojae Joo</h3>
                    <p class="person-course"><small>Undergraduate Research Intern</small></p>
                    <p class="person-field"><small>  </small></p>
                    <p class="person-contact">
                        <small><a href="mailto:juju69123@naver.com">juju69123@naver.com</a><br></small>
                    </p>
                </div>
            </div>
        <!-- Person 3 -->
            <div class="col-sm-4">
                <div class="person-card">
                    <img src="{{ site.baseurl }}/img/man.jpg" alt="Person 3" class="img-responsive img-circle person-photo">
                    <h3 class="person-name">Eunji Lee</h3>
                    <p class="person-course"><small>Undergraduate Research Intern</small></p>
                    <p class="person-field"><small>  </small></p>
                    <p class="person-contact">
                        <small><a href="mailto:dmswl912782@naver.com">dmswl912782@naver.com</a><br></small>
                    </p>
                </div>
            </div>
        </div>
    </section>
