    <!-- People Section -->
    <section id="people" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>PEOPLE</h2>
            </div>
        </div>
    </section>

    <!-- Professor Section -->
    <section id="professor" class="container content-section">
        <div class="row">
            <!-- Left Image1 -->
            <div class="col-md-5">
                <img src="{{ site.baseurl }}/img/profile.jpg" 
                    alt="profile" 
                    class="about-img img-responsive">
            </div>
            <!-- Right Text -->
            <div class="col-md-7">
                <h3>Dasol Kim</h3>
                <p><small>Assistant Professor</small></p>
                <p><small>Department of Environmental Engineering, Seoul National University of Science and Technology</small></p>
                <p><small>Office: Room 313, Chungun-Hall</small></p>
                <p><small>Lab: Room 138, Chungun-Hall</small></p>
                <p><small>Tel: +82-2-970-6616</small></p>
                <p><small>E-mail: dasol.kim@seoultech.ac.kr</small></p>
            </div>
        </div>
    </section>
