    <!-- About Section -->
    <section id="publication" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>PUBLICATION</h2>
                <p>2025</p>
                <p>J. Ju, D.-S. R. Park, D. Kim, M. Chang, C.-K. Park, J.-S. Kug, and D. Youn, 2025: Mechanism of seasonal differences in interdecadal changes in tropical cyclone genesis frequency over the western North Pacific, Journal of Climate, 38(15), 3787–3800.</p>
                <p>C. J. Matyas, D. Kim*, S. E. Zick, and K. M. Wood, 2025: Four patterns of moisture surrounding Atlantic hurricanes from deep learning, Atmospheric Research, 322, 108114.</p>
                <p> </p>
                <p>2024</p>
            </div>
        </div>
    </section>
