    <!-- About Section -->
    <section id="publication" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>PUBLICATION</h2>
                <p>2025</p>
                <p><small>J. Ju, D.-S. R. Park, D. Kim, M. Chang, C.-K. Park, J.-S. Kug, and D. Youn, 2025: Mechanism of seasonal differences in interdecadal changes in tropical cyclone genesis frequency over the western North Pacific, Journal of Climate, 38(15), 3787–3800.</small></p>
                <p><small>C. J. Matyas, D. Kim*, S. E. Zick, and K. M. Wood, 2025: Four patterns of moisture surrounding Atlantic hurricanes from deep learning, Atmospheric Research, 322, 108114.</small></p>
                <p>2024</p>
                <p><small>Oh, H.-R., D.-S. R. Park, D. Kim*, C.-H. Ho, and S. Lee, 2024: Factors of synoptic circulation associated with high-PM2.5 concentration during wintertime in Seoul, South Korea, Atmospheric Environment, 325, 120444.</small></p>
                <p><small>Park, D.-S. R., E. Seo, M. Lee, D,-H. Cha, D. Kim, C.-H. Ho, M.-I. Lee, H.-S. Kim, and S.-K. Min, 2024: Sea surface temperature warming to inhibit mitigation of tropical cyclone destructiveness over East Asia in El Nino. npj Climate and Atmospheric Science, 7, 24.</small></p>
                <p><small>Kim, D., and C. J. Matyas, 2024: Classification of tropical cyclone rain patterns using convolutional autoencoder, Scientific Reports, 14, 791.</small></p>
                <p>2023</p>
                <p><small>Moon, M., Ha, K. J., Kim, D., Ho, C. H., et al., 2023: Rainfall strength and area from landfalling tropical cyclones over the North Indian and western North Pacific oceans under increased CO2 conditions. Weather and Climate Extremes, 100581.</small></p>
                <p><small>Kim, D., D.-S. R. Park, M. Chang, D.-H. Cha, and M. Lee, 2023: Reanalyzing the Relationship of Tropical Cyclone Frequency and Intensity Affecting South Korea with the Pacific Decadal Oscillation, Journal of Climate, 36(9), 2847–2855.</small></p>
                <p><small>Kim, D., D.-S. R. Park, and C. J. Matyas, 2023: Spatial Variations in Tropical Cyclone Rainfall over the Western North Pacific According to ENSO Phase, Journal of Climate, 36(6), 1697–1710.</small></p>
                <p>2022</p>
                <p><small>Kim, D., D.-S. R. Park, C. C. Nam, and M. M. Bell, 2022: The parametric hurricane rainfall model with moisture and its application to climate change projections, npj Climate and Atmospheric Science, 5, 86.</small></p>
                <p><small>Kim, D., C.-H. Ho, I. Park, J. Kim, L. S. Chang, and M. H. Choi, 2022: Untangling the contribution of input parameters to an artificial intelligence PM2.5 forecast model using the layer-wise relevance propagation method. Atmospheric Environment, 276, 119034.</small></p>
                <p><small>Chang, M., D.-S. R. Park, D. Kim, and T.-W. Park, 2022: A possible relation of Pacific Decadal Oscillation with weakened tropical cyclone activity over South Korea. Journal of Korean Earth Science Society, 43, 23-29.</small></p>
                <p>2021 and Before</p>
                <p><small>Cheung, H. M., C.-H. Ho, M. Chang, D. Kim, J. Kim, W. Choi, 2021: Development of a Track-Pattern-Based Medium-Range Tropical Cyclone Forecasting System for the Western North Pacific. Weather and Forecasting, 36, 1505-1518.</small></p>
                <p><small>Kim, D., C.-H. Ho, H. Murakami, and D.-S. R. Park, 2021: Assessing the influence of large-scale environmental conditions on rainfall structure of Atlantic tropical cyclones: An observational study, Journal of Climate, 34, 2093-2106.</small></p>
                <p><small>D.-S. R. Park, C.-H. Ho, D. Kim, N.-Y. Kang, Y. Han, and H.-R. Oh, 2019: Tropical cyclone as a possible remote controller of air quality over the Republic of Korea through poleward propagating Rossby waves, Journal of Applied Meteorology and Climatology, 58(11), 2523–2530.</small></p>
                <p><small>Kim, D., C.-H. Ho, D.-S. R. Park, and J. Kim, 2019: Influence of vertical wind shear on wind- and rainfall areas of tropical cyclones making landfall over South Korea, PLOS One, 14, 1.</small></p>
                <p><small>Kim, D., C.-H. Ho, D.-S. R. Park, J. C. L. Chan, and Y. Jung, 2018: The relationship between tropical cyclone rainfall area and environmental conditions over the subtropical oceans, Journal of Climate, 31, 4605–4616.</small></p>
                <p><small>Kim, D., C.-S. Jin, C.-H. Ho, J. Kim, and J.-H. Kim, 2015: Climatological features of WRF-simulated tropical cyclones over the western North Pacific, Climate Dynamics, 44(11-12), 3223–3235.</small></p>
                <p><small>Jin, C.-S., C.-H. Ho, D.-S. R. Park, W. Choi, D. Kim, J.-H. Lee, K.-H. Chang, and K.-R. Kang, 2014: Development of the automated prediction system for seasonal tropical cyclone activity over the western North Pacific and its evaluation for early predictability, Atmosphere, 24, 123–130.</small></p>
            </div>
        </div>
    </section>
